.game-over-img {
  width: 500px;
}

button {
  border: none;
  border-radius: 60px;
  width: 100px;
  background-color: #4285f4;
  padding: 10px 20px;
}

.end-score{
  font-style: bold;
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
}

body{
  background-image: url("https://st2.depositphotos.com/1796022/9178/i/950/depositphotos_91788452-stock-photo-christmas-fairy-lights-border.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}      
 


