body,
html {
  height: 100%;
}

.game-over-img {
  width: 500px;
}

button {
  border: none;
  border-radius: 60px;
  width: 100px;
  background-color: #4285f4;
  padding: 10px 20px;
}

.end-score {
  font-style: bold;
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
}

.bgImg {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fneon-question-mark-frame-quiz-lighting-interrogation-point-red-neon-vector-id1136653848%3Fk%3D6%26m%3D1136653848%26s%3D612x612%26w%3D0%26h%3DYcoo-T7YfK4mH5VNRtxuvx_li18654Ry2HVj_PyXRyA%3D&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
